@import "tailwindcss";

*{
  font-family: Poppins,Arial, Helvetica, sans-serif;
}
html{
  scrollbar-width: none;

}
.no-scroll{
  scrollbar-width: none;
}
body{
  background-color: rgb(24, 24, 24);
  padding-top: 100px;
}